name: Run cypress tests

on:
  push:
    branches: [develop]
  pull_request:
    branches: [main, develop]

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    container: cypress/browsers:node16.14.0-chrome99-ff97
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set restore cache
        run: chown -R 1001:1001 /github/home/.cache && echo "pwn dat cache"

      - name: Cypress run
        uses: cypress-io/github-action@v2.3.6
        with:
          browser: chrome
